.big-buttons .choose {
  padding: 7px 0;
  width: 160px;
  text-align: center;
  font-size: 24px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.submenu {
  margin-top: 158%;
}

.big-buttons .dummy {
    margin-top: 100%;
}

.big-buttons .thumbnail {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 15px;
  right: 0;
  text-align:center;
  margin-bottom: 0px;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background:rgba(255,255,255,0.8);
}

.big-buttons .button-off {
    z-index: 1;
    background-color: #fff;
    opacity: 0.5;
    cursor:default;
}

.big-buttons .button-off .button-footer {
  background: #afe5f7;
}

.big-buttons .thumbnail .button-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
  padding: 7px 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.big-buttons .thumbnail img.button-image {
  outline: 0;
  max-height: 80%;
  height: auto;
}

.big-buttons.question-buttons .thumbnail .button-footer {
  padding: 3px 0;
  font-size: 14px;
}
.next-question, .prev-question {
  opacity: 1.0;
}
.disabled:focus, .disabled:active, .disabled {
  opacity: 0.65;

}